
<div class="container-fluid d-flex justify-content-center">

<div class=" row container">

    <div class="container  d-lg-flex ">
        <section class="col-sm-12 col-lg-8 ">
            <img class="img-fluid p-2" src="/img/img-productos/<%= producto.imagen%>" alt="imagen-producto">
            <div class=" container m-2 d-none d-lg-block">
                <h3 class=" ">DESCRIPCION</h3>
                <section>
                    <%= producto.descripcion%>
                </section>
            </div>
        </section>
        <section class="col-sm-12 col-lg-4 border-left borde-abajo p-2">
            <p class=" p-2 texto-media-negrita "><%= producto.nombre %> </p>
            <p class=" p-2 texto-grande">$<%= producto.precio %> </p>
            <img class="img-sm-fluid  mb-2 " src="/img/envios-detalles.png">
            
            <div class="d-flex justify-content-start align-items-center ">
    
            <form method="POST" action="" >
                <button class="btn boton mx-3 my-2" type="submit">Comprar</button>
             </form>
             <form method="POST" action="">
                <button class="btn boton-sub mx-2 my-2" type="submit">Agregar al Carrito</button>
             </form>
             </div>
             <div class=" container mx-2 my-4 d-block d-lg-none">
                <h3 class=" ">DESCRIPCION</h3>
                <section>
                    <%= producto.descripcion%>
                </section>
            </div>
        </section> 
    </div>
</div>
</div>
